.unlocked-hero{

    margin-bottom:35px;

}

.unlocked-hero-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

}

.unlocked-hero-left{

    flex:1;

}

.unlocked-hero-left h1{

    font-size:48px;

    color:#2b160d;

    margin-bottom:18px;

    font-weight:700;

}

.unlocked-hero-left p{

    color:#666;

    font-size:18px;

    line-height:1.8;

}

.unlocked-hero-right{

    width:180px;

    flex-shrink:0;

}

.unlocked-hero-right img{

    width:100%;
 
}

.section-decoration{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:20px;

}

.section-decoration span{

    width:70px;

    height:2px;

    background:#0b7a34;

}

.section-decoration i{

    color:#0b7a34;

    font-size:20px;

}

@media(max-width:768px){

    .unlocked-hero-content{

        flex-direction:column;

        text-align:center;

    }

    .section-decoration{

        justify-content:center;

    }

    .unlocked-hero-left h1{

        font-size:36px;

    }

    .unlocked-hero-right{

        width:130px;

    }
    .unlocked-hero-right img{

    display:none;
 
}

}